<app-navbar>
</app-navbar>
<div class="sb2-2">

    <div class="sb2-2-add-blog sb2-2-1">
        <div class="box-inn-sp">
            <div class="inn-title">
                <h4>Edit Driver</h4>

            </div>
            <div class="bor">
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="list-title" type="text" class="validate">
                            <label for="list-title">Driver Name</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Package-auth" type="text" class="validate">
                            <label for="Package-auth">License No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Package-auth" type="text" class="validate">
                            <label for="Package-auth">Mobile_no</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>