<app-navbar>
</app-navbar>
<div class="sb2-2">

    <div class="sb2-2-add-blog sb2-2-1">
        <div class="box-inn-sp">
            <div class="inn-title">
                <h4>Edit Driver</h4>

            </div>
            <div class="bor">
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <h4><div>Name:</div></h4>
                            <input id="list-title" type="text" class="validate" [(ngModel)]="name" name="name">
                            <!--<label for="list-title">Driver Name</label>-->
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>License No:</div></h4>
                                <!--<label for="Package-auth">License No</label>-->
                            <input id="Package-auth" type="text" class="validate" [(ngModel)]="no" name="no" placeholder="license no">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>Mobile No:</div></h4>
                            <input id="Package-auth" type="text" class="validate" [(ngModel)]="mob" name="mob">
                            <!--<label for="Package-auth">Mobile_no</label>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="waves-effect waves-light btn-large" value="Submit" (click)="onUpdate()">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>