<app-navbar>
</app-navbar>
<!-- <div class="sb2-2">

    <div class="sb2-2-add-blog sb2-2-1">
        <div class="box-inn-sp">
            <div class="inn-title">
                <h4>Edit Driver</h4>

            </div>
            <div class="bor">
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <h4><div>Name:</div></h4>
                            <input id="list-title" type="text" class="validate" [(ngModel)]="name" name="name">
                            <!--<label for="list-title">Driver Name</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>License No:</div></h4>
                                <!--<label for="Package-auth">License No</label>
                            <input id="Package-auth" type="text" class="validate" [(ngModel)]="no" name="no" placeholder="license no">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>Mobile No:</div></h4>
                            <input id="Package-auth" type="text" class="validate" [(ngModel)]="mob" name="mob">
                            <!--<label for="Package-auth">Mobile_no</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="waves-effect waves-light btn-large" value="Submit" (click)="onUpdate()">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <a routerLink="/Driver">Back</a>
            <h3 class="text-center m-t-0 m-b-15"> <label class="logo logo-admin"><span>Edit</span>Driver</label></h3>
            <h4 class="text-muted text-center m-t-0"></h4>
            <form>
                <ng-progress></ng-progress>
                                        <div class="form-group">
                                                <div class="col-xs-12"> <mat-form-field  class="example-full-width">
                                                    <input matInput ngModel required name="driver_name" type="text" placeholder="Enter Name" [(ngModel)]="name" #driver_name="ngModel">
                                                     <mat-error *ngIf="driver_name.hasError('required')" >Enter Name</mat-error>
                                                  </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                            </div>
                
                                            <div class="form-group">
                                                    <div class="col-xs-12"> <mat-form-field  class="example-full-width">
                                                        <input matInput ngModel required password name="driver_license_no" type="text" placeholder="Enter License No"[(ngModel)]="no" #driver_license_no="ngModel">
                                                         <mat-error *ngIf="driver_license_no.hasError('required')" >Enter License No</mat-error>
                                                      </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                                </div>
                
                                                <div class="form-group">
                                                    <div class="col-xs-12"> <mat-form-field  class="example-full-width">
                                                        <input matInput ngModel required password name="Mobile_no" type="text" placeholder="Enter No" [(ngModel)]="mob" #Mobile_no="ngModel">
                                                         <mat-error *ngIf="Mobile_no.hasError('required')" >Enter Mobile No</mat-error>
                                                      </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                                </div>

                                                <div class="form-group">
                                                    
                                                                <div class="col-xs-12"><input type="radio" [(ngModel)]="avaibility" id="avaibility" name="avaibility" value="1">Available
                                                                    <input type="radio" name="Not avaibility" [(ngModel)]="avaibility" id="avaibility" value="0">Not available<!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                                        
                                                                </div>                                                  

                                                
                                               
                                <div class="form-group text-center m-t-40">
                                    <div  class="col-xs-12"> <button type="submit" class="btn btn-primary btn-block btn-lg waves-effect waves-light" (click)="onUpdate()">Update</button></div>
                
                                </div>
                                </form>
                
                            <!--</div>-->
                        </div>
                    </div>
                </div>