<app-navbar></app-navbar>
<div class="sb2-2">
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Driver Details</h4>
                        <a routerLink="/Adddriver"><span class="label label-success">Add</span></a>
                        <!-- Dropdown Structure -->

                    </div>
                   <!-- <div class="tab-inn">
                        <div class="table-responsive table-desi">
                                <input class="form-control" type=text name="search" placeholder="Search" [(ngModel)]="txtsearch" #input1 (keyup)="onSearch(input1.value)">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>check</th>
                                        <th>Name</th>
                                        <th>License No</th>
                                        <th>Mobile_no</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of drivers">
                                        <td>
                                            <input type="checkbox" id="ch2-1" name="drivercheck" (change)="checkChange(item)" />
                                            <label for="ch2-1"></label>
                                        </td>

                                        <td><a href="#"><span class="list-enq-name">{{item.driver_name}}</span></a>
                                        </td>
                                        <td>
                                            <span class="label label-primary">{{item.driver_license_no}}</span>
                                        </td>
                                        <td><span class="list-enq-name">{{item.Mobile_no}}</span>
                                            <td>
                                                <a (click)="onDriverDelete(item)"><span class="label label-danger">Delete</span></a>
                                            </td>
                                            <td>
                                                <a (click)="editTraveller(item)"> <span class="label label-success">Edit</span></a>
                                            </td>
                                    </tr>
                                </tbody>
                                <button (click)="deleteAll()" class=" ion ion-trash-b btn btn-danger"><span> Delete All </span></button>
                            </table>
                        </div>
                    </div>-->
                    <body class="fixed-left">
                        <div class="content-page">
                            <div class="content">
                                <div class="">
                                    <div class="page-header-title">
                                        <h4 class="page-title">Driver</h4>
                                    </div>
                                </div>
                                <div class="page-content-wrapper ">
                                    <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                   <h4 align="right" class="m-b-30 m-t-0"><button (click)="onNavigate()" style="border-radius:6px;" class=" form-group btn-danger btn-lg ion-plus-circled "> Add</button><br>
                                       
                                    </h4>
                                    <button (click)="deleteAll()" class=" ion ion-trash-b btn btn-danger"><span> Delete All </span></button>
                                 <!--   <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            <table id="datatable" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Image</th>
                                                        <th>Name</th>
                                                        <th>Address</th>
                                                        <th>Feedback</th>
                                                        <th>City</th>
                                                        <th>Rating</th>
                                                        <th>Description</th>

                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of hotel">
                                                        <td>
                                                            <input type="checkbox" (change)="checkChange(item)" name="hotelcheck">
                                                        </td>
                                                        <td><img src="http://localhost:3000/{{item.hotel_img}}"></td>
                                                        <td>
                                                            {{item.hotel_name}}
                                                        </td>
                                                        <td>
                                                            {{item.hotel_address}}
                                                        </td>
                                                        <td>
                                                            {{item.hotel_feedback}}
                                                        </td>
                                                        <td>
                                                            {{item.hotel_city}}
                                                        </td>
                                                        <td>
                                                            {{item.hotel_rating}}
                                                        </td>
                                                        <td>
                                                            {{item.hotel_description}}
                                                        </td>

                                                        <td>
                                                            <a (click)="onHotelDelete(item)"><span class="ion ion-trash-b"> </span></a> |
                                                            <a (click)="editHotel(item)"><span class=" ion ion-edit xm"> </span></a>

                                                        </td>
                                                    </tr>

                                                </tbody>
                                                <button (click)="deleteAll()" class=" ion ion-trash-b btn btn-danger"><span> Delete All </span></button>
                                            </table>
                                        </div>
                                    </div>-->
                                    <div class="example-container mat-elevation-z8">
                                        <div class="example-header">
                                                <mat-form-field>
                                                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                                </mat-form-field>
                                              </div>
                                    <mat-table #table [dataSource]="dataSource" matSort>
                                        
                                        <ng-container matColumnDef="check">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Check </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> <input type="checkbox" (change)="checkChange(element)" name="usercheck"> </mat-cell>
                                          </ng-container>

                                      <ng-container matColumnDef="driver_name">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.driver_name}} </mat-cell>
                                      </ng-container>

                                        <ng-container matColumnDef="driver_license_no">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> License  No </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.driver_license_no}}  </mat-cell>
                                      </ng-container>

                                      <ng-container matColumnDef="Mobile_no">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.Mobile_no}} </mat-cell>
                                      </ng-container>

                                      <ng-container matColumnDef="driver_status">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.driver_status}} </mat-cell>
                                      </ng-container>

                                                                              
                                      <ng-container matColumnDef="driver_action">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> <button (click)="onDriverDelete(element)" color="warn" mat-icon-button>
                                                <mat-icon>delete</mat-icon>
                                              </button>  <button (click)="editDriver(element)" color="primary" mat-icon-button>
                                                    <mat-icon>create</mat-icon>
                                                  </button> </mat-cell>
                                        </ng-container>
                                  
                                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    </mat-table>
                                    <mat-paginator #paginator
                                    [pageSize]="2"
                                    [pageSizeOptions]="[2,5,10]">
                                  </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    <!-- </div> -->
</div>