<app-navbar></app-navbar>
<div class="sb2-2">
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Driver Details</h4>
                        <a routerLink="/Adddriver"><span class="label label-success">Add</span></a>
                        <!-- Dropdown Structure -->

                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>check</th>
                                        <th>Name</th>
                                        <th>License No</th>
                                        <th>Mobile_no</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="ch2-1" />
                                            <label for="ch2-1"></label>
                                        </td>

                                        <td><a href="#"><span class="list-enq-name">Marsha Hogan</span><span class="list-enq-city">Illunois, United States</span></a>
                                        </td>
                                        <td>
                                            <span class="label label-primary">02</span>
                                        </td>
                                        <td><span class="list-enq-name">3453453</span>
                                            <td>
                                                <span class="label label-danger">Delete</span>
                                            </td>
                                            <td>
                                                <a routerLink="/Editdriver"> <span class="label label-success">Edit</span></a>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>