<app-navbar></app-navbar>
<div class="sb2-2">
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Car Details</h4>
                        <a routerLink="/Addcar"><span class="label label-success">Add</span></a>
                        <!-- Dropdown Structure -->

                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                                <input class="form-control" type=text name="search" placeholder="Search" [(ngModel)]="txtsearch" #input1 (keyup)="onSearch(input1.value)">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>check</th>
                                        <th>Image</th>
                                        <th>car</th>
                                        <th>color</th>
                                        <th>type</th>
                                        <th>Rate</th>
                                        <th>image</th>
                                        <th>Details</th>
                                        <th>Category</th>
                                        <th>delete</th>
                                        <th>edit</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of car">
                                        <td>
                                            <input type="checkbox" id="ch2-1" />
                                            <label for="ch2-1"></label>
                                        </td>
                                        <td><span class="list-img"><img src="./assets/images/user/1.png" alt=""></span>
                                        </td>
                                        <td><a href="#"><span class="list-enq-name">{{item.car_name}}</span><span class="list-enq-city"></span></a>
                                        </td>
                                        <td>{{item.car_color}}</td>
                                        <td>{{item.car_type}}</td>
                                        <td>{{item.car_rate}}</td>
                                        <td><img src="http://localhost:3000/{{item.car_img}}"></td>
                                        <td>
                                            <span class="label label-primary">{{item.car_details}}</span>
                                        </td>
                                        <td>
                                            <span class="label label-info">{{item.car_category}}</span>
                                        </td>
                                        <td>
                                            <span class="label label-danger" (click)="onCarDelete(item)">Delete</span>
                                        </td>
                                        <td>
                                            <a (click)="editCar(item)"><span class="label label-success">Edit</span></a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>