<app-navbar></app-navbar>
<div class="sb2-2">

    <div class="sb2-2-add-blog sb2-2-1">
        <div class="box-inn-sp">
            <div class="inn-title">
                <h4>Add New Car</h4>

            </div>
            <!-->ddsf-->
            <div class="bor">
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="list-title" type="text" class="validate" [(ngModel)]="name" name="name">
                            <label for="list-title">Car Name</label>
                        </div>
                        <div class="input-field col s12">
                            <div class="file-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload Car Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="desc" name="desc"></textarea>
                            <label for="textarea1">Car Descriptions:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="car-type" type="text" class="validate" [(ngModel)]="type" name="color">
                            <label for="car-type">Car Type</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="car-cat" type="text" class="validate" [(ngModel)]="category" name="color">
                            <label for="car-cat">Car Category</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Package-auth" type="text" class="validate" [(ngModel)]="rate" name="rate">
                            <label for="Package-auth">Car Rate</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Package-auth" type="text" class="validate" [(ngModel)]="color" name="color">
                            <label for="Package-auth">Color</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Submit" (click)="onAdd()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>