<app-navbar></app-navbar>
<div class="sb2-2">
  <div class="sb2-2-3">
    <div class="row">
      <div class="col-md-12">
        <div class="box-inn-sp">
          <div class="inn-title">
            <h4>Traveller Details</h4>
            <a routerLink="/Adddriver">
              <span class="label label-success">Add</span>
            </a>
            <!-- Dropdown Structure -->

          </div>
          <div class="tab-inn">
            <div class="table-responsive table-desi">
              <table>
                <thead>
                  <tr>
                    <td>Current Password</td>
                    <td><input type="text" required name="pass1" [(ngModel)]="pass1" placeholder="pass1"></td>
                  </tr>
                  <tr>
                    <td>New Password</td>
                    <td><input type="text" required name="pass" [(ngModel)]="pass" placeholder=" pass"></td>

              
                </thead>

                <button (click)="Changepassword()" class=" ion ion-trash-b btn btn-danger">
                  <span> Change Password </span>
                </button>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>