<app-navbar></app-navbar>
<div class="sb2-2">
  <div class="sb2-2-3">
    <div class="row">
      <div class="col-md-12">
        <div class="box-inn-sp">
          <div class="inn-title">
            <h4>Traveller Details</h4>
            
            <!-- Dropdown Structure -->

          </div>
          <div class="tab-inn">
            <div class="table-responsive table-desi">
              <table>
                <thead>
                  <tr>
                    <td>Current Password</td>
                    <td><input type="password" required name="pass1" [(ngModel)]="pass1" placeholder="Enter Current Password"></td>
                  </tr>
                  <tr>
                    <td>New Password</td>
                    <td><input type="password" required name="pass" [(ngModel)]="pass" placeholder="Enter New Password"></td>
                  </tr>
                  <tr>
                      <td>Re-Type Password</td>
                      <td><input type="password" required name="pass2" [(ngModel)]="pass2" placeholder="Enter New Password"></td>
                    </tr>
                </thead>

                <button (click)="Changepassword()" class=" ion ion-trash-b btn btn-danger">
                  <span> Change Password </span>
                </button>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>