<app-navbar></app-navbar>
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <a routerLink="/Car">Back</a>
            <h3 class="text-center m-t-0 m-b-15"> <label class="logo logo-admin"><span>Edit</span>Order</label></h3>
            <h4 class="text-muted text-center m-t-0"></h4>
<!-- <div class="sb2-2">

    <div class="sb2-2-add-blog sb2-2-1">
        <div class="box-inn-sp">
            <div class="inn-title">
                <h4>Edit Car</h4>

            </div>
            <div class="bor">
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>Name:</div></h4>
                            <input id="list-title" type="text" class="validate" [(ngModel)]="name" name="name">
                            <!--<label for="list-title">Car Name</label>
                        </div>
                        <div class="input-field col s12">
                            <div class="file-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload Car Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>Description:</div></h4>
                            <textarea id="textarea1" class="materialize-textarea"[(ngModel)]="desc" name="desc" ></textarea>
                            <!--<label for="textarea1">Car Descriptions:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>Car Type:</div></h4>
                            <input id="car-type" type="text" class="validate" [(ngModel)]="type" name="type">
                            <!--<label for="car-type">Car Type</label>
                        </div>
                        <div class="input-field col s12">
                                <h4><div>Category:</div></h4>
                            <input id="car-cat" type="text" class="validate" [(ngModel)]="category" name="category">
                            <!--<label for="car-cat">Car Category</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>Rate:</div></h4>
                            <input id="Package-auth" type="text" class="validate"  [(ngModel)]="rate" name="rate" >
                            <!--<label for="Package-auth">Car Rate</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                <h4><div>Color:</div></h4>
                            <input id="Package-auth" type="text" class="validate"  [(ngModel)]="color" name="color">
                            <!--<label for="Package-auth">Color</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Submit" (click)="onUpdate()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<form>
    
                            <div class="form-group">
                                    <div class="col-xs-12"> <mat-form-field  class="example-full-width">
                                        <input matInput ngModel required password name="car_name" type="text" placeholder="Enter User Id" [(ngModel)]="userid" readonly #car_name="ngModel">
                                         <mat-error *ngIf="car_name.hasError('required')" >User Id</mat-error>
                                      </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                </div>
    
                                <div class="form-group">
                                        <div class="col-xs-12"> <mat-form-field  class="example-full-width">
                                            <input matInput ngModel required password name="car_name1" type="text" placeholder="Enter Source" [(ngModel)]="source1" readonly #car_name1="ngModel">
                                             <mat-error *ngIf="car_name1.hasError('required')" >Source</mat-error>
                                          </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                    </div>
    
                                    <div class="form-group">
                                        <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                            <input matInput ngModel required password name="car_color23" type="text" placeholder="Enter Destination" [(ngModel)]="destination1" readonly #car_color23="ngModel">
                                             <mat-error *ngIf="car_color23.hasError('required')" >Destination</mat-error>
                                          </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                        </div>

                                        <div class="form-group">
                                          <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                              <input matInput ngModel required password name="car_color1" type="text" placeholder="Booking Date" [(ngModel)]="bookingdate1" readonly #car_color1="ngModel">
                                               <mat-error *ngIf="car_color1.hasError('required')" >Booking Date</mat-error>
                                            </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                          </div>
    
                                          <div class="form-group">
                                                <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                                    <input matInput ngModel required  name="car_rate24" type="text" placeholder="Checkin Date" [(ngModel)]="checkingdate1" readonly #car_rate24="ngModel">
                                                     <mat-error *ngIf="car_rate24.hasError('required')" >Checkin  Date</mat-error>                   
                                                  </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                                    <input matInput ngModel required  name="car_rate23" type="text" placeholder="Checkout Date" [(ngModel)]="checkoutdate1" readonly #car_rate23="ngModel">
                                                     <mat-error *ngIf="car_rate23.hasError('required')" >Checkout Date</mat-error>                   
                                                  </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                                            </div>

                                            <div class="form-group">
                                              <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                                  <input matInput ngModel required password name="car_details23" type="text" placeholder="Amount" [(ngModel)]="amount" #car_details23="ngModel">
                                                   <mat-error *ngIf="car_details23.hasError('required')" >Amount</mat-error>
                                                </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                          </div>
          
                                          <div class="form-group">
                                              <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                                  <input matInput ngModel required password name="car_color2" type="text" placeholder="Car Id" [(ngModel)]="fk_car_id1" readonly #car_color2="ngModel">
                                                   <mat-error *ngIf="car_color2.hasError('required')" >Car Id</mat-error>
                                                </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                              </div>
      
                                              <div class="form-group">
                                                <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                                    <input matInput ngModel required password name="car_color5" type="text" placeholder="Car Name" [(ngModel)]="fk_car_name1" readonly #car_color5="ngModel">
                                                     <mat-error *ngIf="car_color5.hasError('required')" >Car Name</mat-error>
                                                  </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                                                </div>
          
          
                                                  <div class="form-group">
                                                      <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                                          <input matInput ngModel required  name="car_rate7" type="text" placeholder="Driver" [(ngModel)]="fk_driver_id1" readonly #car_rate7="ngModel">
                                                           <mat-error *ngIf="car_rate7.hasError('required')" >Driver</mat-error>                   
                                                        </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                                                      </div>
              
              
                                                      <div class="form-group">
                                                          <div class="col-xs-12"> <mat-form-field class="example-full-width">
                                                              <input matInput ngModel required  name="car_rate8" type="text" placeholder="Booking Status" [(ngModel)]="bookingstatus1" #car_rate8="ngModel">
                                                               <mat-error *ngIf="car_rate8.hasError('required')" >Booking Status</mat-error>                   
                                                            </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
                                                      </div>
                    <div class="form-group text-center m-t-40">
                        <div  class="col-xs-12"> <button type="submit" class="btn btn-primary btn-block btn-lg waves-effect waves-light" (click)="onUpdate()">Update</button></div>
    
                    </div>
                    </form>
    
                <!--</div>-->
            </div>
        </div>
    </div>